@model IEnumerable<ContactUSForm.Models.ContactUSFormModel> 

@{
    ViewData["Title"] = "Contact US forms";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table>
        
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>contact purpose</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
            <tr>
                <th>@obj.FirstName</th>
                <th>@obj.LastName</th>
                <th>@obj.Email</th>
                <th>@obj.PhoneNumber</th>
                <th>@obj.Email</th>
                <th>@obj.ContactPurpose</th>
                <th>@obj.Message</th>
            </tr>
            }
        </tbody>     

    </table>
</div>
